{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static 'css/passwordValidation.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light bg-light ps-4">
        <a class="navbar-brand" href="#">
            <img src="{% static 'Logo-Sup-You22.png' %}" width="50%" alt="">
        </a>
    </nav>

    <div class="container w-75">
        <form action="" method="POST" id="post-form">
            {% csrf_token %}
            <div class="form-group py-4">
                <label>Enter new password</label>
                <input type="password" class="form-control" id="newPassword1" placeholder="Password 1">
            </div>
            <div class="form-group">
                <label>Confirm new password</label>
                <input type="password" class="form-control" id="newPassword2" placeholder="Password 2">
            </div>
            <div class="form-group pt-4">
                <button type="submit" class="btn btn-primary">Change password</button>
            </div>
        </form>
    </div>

    <br>

    <!--<div class="alert alert-success" id="alertSuccess" role="alert">
        A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" id="alertError" role="alert">
        A simple danger alert—check it out!
    </div>

    <div id="message">
        <h3>Password must contain the following:</h3>
        <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
        <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
        <p id="number" class="invalid">A <b>number</b></p>
        <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    </div>-->
</body>

<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>
<script src="{% static 'js/main.js' %}"></script>

</html>