{% load socialaccount %}

<h1>Django Login Mega-Tutorial</h1>
{% if user.is_authenticated %}
<p>Welcome {{ user.username }} !!!</p>
<p><a href="{% url 'account_logout' %}">Log out</a>
    {% else %}
    <p><a href="{% url 'account_signup' %}">Sign Up</a></p>
    <p><a href="{% url 'account_login' %}">Log In </a></p>
    <p><a href="{% provider_login_url 'google' %}">Log In with Gmail</a></p>
    <p><a href="{% provider_login_url 'facebook' %}">Log In with Facebook</a></p>
    {% endif %}